.header {
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;

  background: #aeaeae;

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  border: 1px solid #000;

  flex-basis: 25%;
}

.header-menu {
  flex-basis: 50%;

  border: 1px solid #000;

  &__list {
    align-items: center;

    margin: 30px;

    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $white;
    font-weight: 400;
    text-decoration: none;
  }

  &__decoration {
    text-decoration: underline;
    color: $white;
  }

  &__phone {
    color: $white;
    font-weight: 400;
    text-decoration: none;
  }
}

.header-menu__additional-wrap {
  flex-basis: 25%;

  border: 1px solid #000;
  text-align: center;
}
