@import "./variables";
@import "./libs/normalize";
@import "./libs/fonts.scss";
@import "./components/all";
@import "../pages/Services/services.scss";

.wrapper {
  width: 100vw;
  height: 100%;
  margin: 0px auto;
  border-radius: 8px;
}

.content {
  background: #0e0d12;

  position: relative;
  width: 100%;
  height: 100%;
}
